{
  "presets": [
    ["env", {
      "loose": true,
      "modules": false
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "external-helpers",
    ["nanohtml", { "useImport": true }]
  ]
}
