{
  "presets": [
    ["env", {
      "loose": true,
      "modules": false,
      "targets": {
        "uglify": true
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "external-helpers"
  ]
}
